<div class="container-flex">
  <div class="col-md-12 notes-box">
    <div class="row post-header">
      <h1>
        My Notes
      </h1>
    </div>
    <div class="row">
      <% @feed.each do |f| %>
        <div class="row note-box">
          <%= f.inspect %>

        </div>
      <% end %>
    </div>
    <div class="row link-box">
      <h3 class="note-links">
        <%= link_to "new post", new_post_path, :class => "b3" %>
      </h3>
    </div>
  </div>
</div>