<div class="container-fluid">
  <div class="col-md-12 notes-box">
    <div class="row post-header-b">
      <div class="col-md-10">
        <h1>
          My Videos
        </h1>
      </div>
      <div class="col-md-2">
        <%= link_to "new video", new_video_path, class: "b7" %>
      </div>
    </div>
    <div>
      <% @video.in_groups_of(2, false).each do |group| %>
        <div class='row'>
          <% group.each do |p| %>
            <div class='col-md-5 note-box'>
              <% if p.user_id == current_user.id %>
                <h3 class="text-center">
                  <%= link_to p.title, video_path(p), class: "pic-link" %>
                </h3>
                <p class="text-center">
                  <%= truncate(p.description, length: 50) %>
                </p>
                <p class="text-center">
                  <iframe width="420" height="315"
                   src="https://www.youtube.com/embed/<%= p.video %>">
                  </iframe>
                </p>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>