<div class="container-flex">

  <div class="row">
    <div class="col-md-2">
      <h4 class="header-links">
        <%= link_to "Notifications", root_path, :class => "b2" %>
      </h4>
    </div>
    <div class="col-md-2">
      <h4 class="header-links">
        <%= link_to "Messages", root_path, :class => "b2" %>
      </h4>
    </div>
    <div class="col-md-2">
      <h4 class="header-links">
        <%= link_to "Follow", root_path, :class => "b2" %>
      </h4>
    </div>
    <div class="col-md-2">
      <h4 class="header-links">
        <%= link_to "Wall", root_path, :class => "b2" %>
      </h4>
    </div>
  </div>
</div>