<div class="form-group">
  <%= form.hidden_field :object_type, value: object.class.name %>
  <%= form.hidden_field :object_id, value: object.id %>
  <%= form.text_field :central_argument, autofocus: true, class: 'form-control', placeholder: 'Central Argument' %>
</div>