
<div class="container-fluid login-cont">
  <%= @user.inspect %>
  <%= bootstrap_form_for @friendship, method: :post do |p| %>
    <div class="row form-cont">
      <h3>Follow?</h3>
      <%= p.hidden_field :user_id, :value => current_user.id %>

    </div>
  <% end %>
</div>

