<div class="container-fluid">
  <div class="row show-header">
    <h1>
      Have
    </h1>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped table-hover table-sm">
        <thead>
        <tr>
          <th>
            Skill
          </th>
          <th>
            Description
          </th>
          <th>
            Price
          </th>
        </tr>
        </thead>
        <% @have.each do |f| %>
          <tbody>

          <tr class="table-active">
            <td>
              <%= link_to f.title, profile_have_path(f), class: "want-box" %>
            </td>
            <td>
              <%= link_to truncate(f.description, length: 150), profile_have_path(f), class: "want-box" %>
            </td>
            <td>
              <%= link_to f.price, profile_have_path(f), class: "want-box" %>
            </td>
          </tr>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>
  <div class="row have-link-box col-md-offset-1">
    <h3 class="have-links">
      <% if @user.id == current_user.id %>
        <%= link_to "Add New", new_hafe_path, :class => "b5" %>
      <% end %>
    </h3>
  </div>
</div>
