<div class="container-flex search-index-box">
  <div class="col-md-10 col-md-offset-1">
    <div class="row post-header">
      <h1>
        Creating a room
      </h1>
    </div>
    <div class="row form-padding">
      <%= render partial: 'form' %>
    </div>
  </div>
</div>
