<h1>All <%= @item_type.humanize.pluralize %>
	
<% if @user == current_user %>
	<%= link_to new_item_path(item_type: @item_type ), class: "btn btn-primary" do %>
		<span class="glyphicon glyphicon-wrench"></span>
		Add a new <%= @item_type %>
	<% end %>
<% end %>



</h1>
  <% @items.each do |item| %>
    <%= render partial: "items_list_item", locals: { item: item} %>
  <% end %>
</div>