//navbar


.navbar-toggle .icon-bar {
  background-color: black;
}

.nav-head {
  padding-left: 80px;
  text-decoration: none;
}

.nav-link {
  text-decoration: none;
  color: black;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 16px;
}

.nav-link:hover {
  text-decoration: none;
  font-size: 16px;
  border-radius: 10px;
}

.nav-link-devise {
  text-decoration: none;
  color: black;
  margin-right: 10px;
  font-size: 16px;
  margin-top: 6px;
}

.nav-link-devise:hover {
  text-decoration: none;
  font-size: 16px;
  border-radius: 10px;
}

.nav-link-box {
  padding-top: 25px;
  padding-right: 10px;
}


.navbar {
  background-color: white;
  color: black !important;
}

.bnav {
  text-size: 46px;
  text-decoration: none;
  color: black;
  padding: 8px 8px 8px 8px;
}

.bnav:hover {
  text-decoration: none !important;
  color: black;
}

.glyphicon {
  font-size: 20px;
  text-decoration: none;
}

.glyph-link {
  padding-right: 20px;
}

.glyph-drop {
  padding: 15px 25px 15px 15px;
  margin-top: 10px;
  margin-right: 15px;
  border: none;
  border-radius: 4px;
  background-color: white;
}

.search-pad {
  padding-left: 30px;
  padding-top: 5px;
}

.nav-search {
  padding-top: 10px;
  padding-right: 5px;
  padding-left: 10px;
}

.nav-search-btn {
  padding-top: 7px;
  padding-right: 5px;
  padding-left: 10px;
}

.search-btn:hover {
  text-decoration: none;
  color: darkslategrey;
  background-color: lightgrey;
}

.dropbtn {
  margin-right: 15px;
  background-color: black;
  color: white;
  padding: 7px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  margin-bottom: 7px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 8px 8px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #BBBBBB;
}

.icon-box-nav {
  padding: 23px 10px 0px 10px;
}

.time-bank-box {
  padding-top: 20px;
}

//homepage

.homepage-text {
  font-size: 18px;
  font-weight: 400;
  color: black;
}

//time bank

.time-bank-index-content {
  margin-top:100px;
  margin-bottom:100px;
  .time-bank-btn-list {
    .time-bank-btn:nth-of-type(1) {
      border-top: 2px solid black;
    }
    .time-bank-btn {
      font-weight: 700;
      width: 50%;
      margin-left:auto;
      margin-right:auto;
      text-align: center;
      border-right: 2px solid black;
      border-left: 2px solid black;
      border-bottom: 2px solid black;

      a {
        color: black;
      }
    }
  }

}

//sidebar

.sidebar-box {
  border: 2px solid black;
  background-color: black;
  color: white;
}

.profile-pic {
  margin-bottom: 35px;
}

.side-link-box {
  padding-left: 15px;

}

.side-links {
  margin-left: 30px;
  border-bottom: 4px white solid;
  display: block;
}

.side-links:hover {
  background-color: #BBBBBB;
}

.b1 {
  text-size: 26px;
  text-decoration: none;
  color: white;
  display: block;
}

.b1:hover {
  text-decoration: none !important;
  color: black;
  display: block;
}

//messanger

.ul {
  padding-left: 0px;
  list-style: none;
}

.messages-list {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}


.message-sent {
  position: relative;
  background-color: #D9EDF7;
  border-color: #BCE8F1;
  margin: 5px 20px;
  padding: 10px;
  float: right;
}


.message-received {
  background-color: #F1F0F0;
  border-color: #EEEEEE;
  margin: 5px 20px;
  padding: 10px;
  float: left;
}

//devise

.login-cont {
  margin-top: 100px;
}

.icon-box {
  padding: 0px 10px 0px 10px;
}

.icon-box-b {
  padding: 0px 0px 0px 10px;
}

//devise edit

.edit-box {
  margin-top: 75px;
}

.btn-padding {
  margin-top: 20px;
}

//devise login

.login-box {
  margin-top: 30px;
}

.new-pass-box {
  margin-top: 20px;
}

.signup-box {
  margin-top: 20px;
}
//posts/searchindex

.search-index-box {
  margin-top: 100px;
  margin-bottom: 100px;
}

.search-b1 {
  color: white;
  background-color: black;
  padding: 4px 6px 4px 6px;
  border-radius: 4px;
}

.search-b1:hover {
  color: slategrey;
  background-color: black;
  padding: 4px 6px 4px 6px;
  text-decoration: none;
}

.search-b2 {
  color: white;
  background-color: black;
  padding: 4px 6px 4px 6px;
  text-decoration: none !important;
  align: right;
}

.search-b2a {
  text-decoration: none;
}

//post index

.post-index-row {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: solid 2px #BBBBBB;
}

//post solo_pic

.post-show-rate-box {
  padding-top: 10px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom: solid 2px #BBBBBB;
}

.post-show-button-box {
  padding-bottom: 10px;
}

.post-show-text-box {
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: solid 2px #BBBBBB;
}

.btn3 {
  margin-top: 10px;
  background-color: black;
  color: white;
  padding: 5px;
  margin-right: 10px;
  border-radius: 5px;
}

.btn3:hover {
  background-color: slategrey;
  text-decoration: none;
}

.edit-btn-2 {
  text-size: 26px;
  text-decoration: none !important;
  padding: 8px 8px 8px 8px;
}

.btn-black {
  color: white;
  background-color: black;
}

.btn-black-2 {
  color: white;
  background-color: black;
  margin-top: 20px;
}

.btn-plain {
  border: none;
  display: inline-block;
  background-color: black;
  color: white;
}

.edit-padding {
  margin-top: 100px;
}

//post index list

.post-card-box {
  padding-left: 20px;
  border-bottom: solid 2px #BBBBBB;
}

.post-index-box {
  border: 2px solid #888888;
  box-shadow: 5px 10px 8px #888888;
}

.box-links-2 {
  margin-top: 10px;
  background-color: black;
  color: white;
}

.glyph-padding {
  padding-right: 10px;
  display: inline-block;
}

.note-body-2 {
  padding-top: 20px;
  padding-bottom: 10px;
  margin-right: 40px;
  margin-left: 5px;
}

.posts-header {
  margin-top: 50px;
  border-bottom: 2px solid black;
  margin-bottom: 20px;
}

//area solo_pic

.area-show-box {
  margin-top: 100px;
  margin-bottom: 100px
}

.layer-box {
  padding-top: 15px;
}

.author {
  color: white;
  text-decoration: none;
}

.note-title-b {
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: solid 2px black;
}

.note-title-c {
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: solid 2px #BBBBBB;
  margin-bottom: 20px;
}

.response-box {
  margin-top: 40px;
}

.area-card {
  margin-bottom: 15px;
  border: 2px solid grey;
  padding-bottom: 20px;
}

.area-show-header {
  padding-bottom: 10px;
  margin-bottom: 15px;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  box-shadow: 5px 10px 8px #888888;
}

.area-show-header-b {
  padding-bottom: 10px;
  margin-bottom: 15px;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  margin-right: 20px;
  box-shadow: 5px 10px 8px #888888;
}

.area-show-layer {
  padding-bottom: 10px;
}

.area-button-row {
  padding-top: 10px;
}

.area-show-btns {
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.area-title-link {
  text-decoration: none !important;
  color: black;
}

.box-link-row-b {
  background-color: black;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 10px;
  padding-bottom: 10px;
}

.btn2 {
  margin-top: 10px;
  background-color: black;
  color: white;
  padding: 10px;
  margin-right: 10px;
}

.btn2:hover {
  background-color: slategrey;
  text-decoration: none;
}

.btn2a {
  margin-top: 10px;
  background-color: black;
  color: white;
  padding: 10px;
  margin-right: 15px;
}

.btn2a:hover {
  background-color: slategrey;
  text-decoration: none;
}

.btn2b {
  margin-top: 10px;
  background-color: black;
  color: white;
  padding: 10px;
  margin-right: 10px;
  display: inline-block;
}

.btn2b:hover {
  background-color: slategrey;
  text-decoration: none;
}

//main body

.page-spacing {
  padding-top: 100px;
}

.background {
  background-color: #f2f2f2;
}

.body-margin {
  margin-top: 20px;
}

.main-body {
  margin-top: 20px;
  margin-left: 20px;
}

//forms

.area-form-cont {
  padding-top: 70px;
}

.area-form-body {
  padding-top: 20px;
}

.form-cont {
  margin-left: 20px;
}

.label-box {
  padding: 0px 5px 0px 5px;
  background-color: darkgrey;
}

//header
.header {
  border-bottom: 4px solid black;
  border-radius: 8px;
  background-color: black;
  color: white;
  padding-top: 100px;
}

.header-head {
  margin-left: 15px;
}

.header-margin {
  padding-top: 60px;
  padding-left: 400px;
}

.b2 {
  text-size: 26px;
  text-decoration: none;
  color: white;
  padding: 8px 8px 8px 8px;
}

.b2:hover {
  text-decoration: none !important;
  color: black;
  background-color: #BBBBBB;
  padding: 8px 8px 8px 8px;
  border-radius: 5px;
}

//feed

.feed-box {
  background-color: white;
  padding-bottom: 100px;
  border-radius: 5px;
  margin-top: 50px;
}

.want-box-links {
  margin-top: 10px;
  background-color: black;
  color: white;
  padding-right: 150px;
}

//want/have

.want-box {
  display: block;
  text-decoration: none !important;
  color: black;
}

//notes

.notes-box {
  background-color: white;
  padding-bottom: 100px;
  border-radius: 5px;
}

.note-box {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 2px solid #888888;
  padding-left: 15px;
}

.box-links {
  margin-top: 10px;
  background-color: black;
}

.box-link-row {
  background-color: black;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 10px;
  padding-bottom: 10px;
}

.b6 {
  text-size: 26px;
  text-decoration: none;
  color: white;
  padding: 6px 8px 8px 6px;
}

.b6:hover {
  text-size: 26px;
  text-decoration: none;
  color: grey;
  padding: 6px 8px 8px 6px;
}


.note-title {
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: solid 2px #BBBBBB;
}

.title-link {
  text-decoration: none !important;
  color: black;
}

.title-link:hover {
  text-decoration: none;
  color: #DADADA;
}

.note-body {
  margin-right: 40px;
  margin-left: 5px;
}

.b3 {
  text-size: 26px;
  text-decoration: none;
  background-color: #404040;
  color: white;
  padding: 8px 8px 8px 8px;
}

.b3:hover {
  text-decoration: none !important;
  color: black;
  background-color: #BBBBBB;
  padding: 8px 8px 8px 8px;
}

.link-box {
  margin-top: 30px;
}

.post-header {
  border-bottom: 4px black solid;
}

.post-header-b {
  border-bottom: 4px black solid;
  margin-bottom: 25px;
}

//solo_pic

.show-header {
  border-bottom: solid 4px black;
  padding-left: 25px;
}

.show-header-b {
  border-bottom: solid 4px black;

}

.show-author {
  background-color: #404040;
  color: white;
  padding-top: 10px;
}

.show-box {
  margin-left: 10px;
  margin-top: 40px;
  margin-right: 30px;
}

.show-footer {
  background-color: #404040;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  margin-top: 20px;
  border-radius: 4px;
}

.comment-head {
  background-color: #404040;
  color: white;
  border-radius: 4px;
  margin-top: 30px;
}

.show-name {
  padding-left: 75px;
}

.show-date {
  padding-right: 75px;
}

.edit-btn {
  text-size: 26px;
  text-decoration: none;
  color: white;
  padding: 8px 8px 8px 8px;
}

//comments

.comments {
  padding-top: 40px;
  padding-left: 10px;

}

.new-comment {
  border-top: solid 2px black;
  border-bottom: solid 2px black;
  padding-top: 25px;
  margin-top: 15px;
  padding-bottom: 10px;
}

//profile

.profile {
  background-color: white;
  padding-top: 20px;
  padding-left: 30px;
  border-radius: 5px;
}

.b4 {
  text-size: 20px;
  text-decoration: none;
  background-color: #404040;
  color: white;
  padding: 8px 8px 8px 8px;
}

.b4a {
  text-size: 20px;
  text-decoration: none;
  background-color: #404040;
  color: white;
  padding: 12px 8px 12px 8px;
}

.profile-btn {
  margin-bottom: 30px;
}

.friend-box {

}

.friend-header {
  border-bottom: 2px black solid;
}

.note-box-b {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding-left: 15px;
}

.profile-button-box {
  margin:0 auto;
}

.clean-btn {
  border: none;
  display: inline-block;

}
//form

.form-box {
  padding-top: 50px;
}

.form-body {
  padding-top: 50px;
}

//pictures

.pic-link {
  text-decoration: none !important;
  color: black;
}

.b7 {
  text-size: 26px;
  text-decoration: none;
  background-color: #404040;
  color: white;
  padding: 12px 12px 12px 12px;
  margin-top: 30px;
  display: inline-block;
  margin: 10px;
}

.b7:hover {
  text-decoration: none !important;
  color: black;
  background-color: #BBBBBB;
  padding: 12px 12px 12px 12px;
}

//have

.table {
  margin-top: 30px;
}

.th, td {
  padding: 15px;
  border-bottom: 1px solid #dddddd;
}

.table-head-label {
  border-bottom: 2px black solid;
  background-color: #404040;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

tr:hover {
  background-color: #f5f5f5;
}

.b5 {
  text-size: 26px;
  text-decoration: none;
  background-color: #404040;
  color: white;
  padding: 8px 8px 8px 8px;
  margin-top: 50px;
}

.b5:hover {
  text-decoration: none !important;
  color: black;
  background-color: #BBBBBB;
  padding: 8px 8px 8px 8px;
  margin-top: 50px;
}

.table-body-box {
  margin-top: 5px;
}

.have-form-box {
  padding-top: 30px;
  padding-left: 25px;
}

//messenger

.rooms-sidebar-box {
  margin-left: 20px;
}

.message-sidebar-rows {
  padding-left: 15px;
  padding-bottom: 5px;
}

.message-sidebar {
  margin-top: 20px;
}

.room-users {
  display: inline-block;
}

.message-buttons-b {
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 5px;
  display: block;
  background-color: #BBBBBB;
}

.message-buttons-b:hover {
  background-color: grey;
}

.message-buttons {
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  display: block;
  background-color: #BBBBBB;
}

.message-buttons:hover {
  background-color: grey;
}

.message-buttons-c {
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  display: block;
  background-color: #BBBBBB;
  border: none;
  width: 100%;
  color: white;
}

.message-buttons:hover {
  background-color: grey;
}

.chat-message-container-b {
  margin-top: 30px;
  margin-bottom: 15px;
  height: 500px;
  overflow: auto;
}

.chat-message-container {
  margin-top: 30px;
  background-color: #bbbbbb;
  margin-bottom: 15px;
}

.message-user {
  padding-left: 20px;
  padding-bottom: 5px;
}

.message-body {
  padding-left: 20px;
}

.form-padding {
  padding-top: 30px;
}