.tkn-n {
    padding: 5px 10px 6px 9px;
    font-size: 19.025px;
    font-weight: bold;
    white-space: nowrap;
    color: #ffffff;
    background-color: #999999;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 16px;
}
.tkn-n:hover {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}